<?php
/**
 * CustomersApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * JackFruit REST API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * CustomersApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class CustomersApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return CustomersApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation billingInfoUpdate
     *
     * 
     *
     * @param string $customerId Customer id (required)
     * @param int $billingInfoId bill info id for the recurring transaction item (required)
     * @param string $cardHolderFullName Card&#39;s holder full name (required)
     * @param string $cardNumber Credit Card number (required)
     * @param string $cardExpiry Credit Card expiry (required)
     * @param string $cardCCV Credit CCV (optional) (optional)
     * @param string $selectedGateway gateway prefered used to update billinfo (optional) (optional)
     * @param string $postalCode Postal code (optional) (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\InlineResponse200
     */
    public function billingInfoUpdate($customerId, $billingInfoId, $cardHolderFullName, $cardNumber, $cardExpiry, $cardCCV = null, $selectedGateway = null, $postalCode = null)
    {
        list($response) = $this->billingInfoUpdateWithHttpInfo($customerId, $billingInfoId, $cardHolderFullName, $cardNumber, $cardExpiry, $cardCCV, $selectedGateway, $postalCode);
        return $response;
    }

    /**
     * Operation billingInfoUpdateWithHttpInfo
     *
     * 
     *
     * @param string $customerId Customer id (required)
     * @param int $billingInfoId bill info id for the recurring transaction item (required)
     * @param string $cardHolderFullName Card&#39;s holder full name (required)
     * @param string $cardNumber Credit Card number (required)
     * @param string $cardExpiry Credit Card expiry (required)
     * @param string $cardCCV Credit CCV (optional) (optional)
     * @param string $selectedGateway gateway prefered used to update billinfo (optional) (optional)
     * @param string $postalCode Postal code (optional) (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\InlineResponse200, HTTP status code, HTTP response headers (array of strings)
     */
    public function billingInfoUpdateWithHttpInfo($customerId, $billingInfoId, $cardHolderFullName, $cardNumber, $cardExpiry, $cardCCV = null, $selectedGateway = null, $postalCode = null)
    {
        // verify the required parameter 'customerId' is set
        if ($customerId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $customerId when calling billingInfoUpdate');
        }
        // verify the required parameter 'billingInfoId' is set
        if ($billingInfoId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $billingInfoId when calling billingInfoUpdate');
        }
        // verify the required parameter 'cardHolderFullName' is set
        if ($cardHolderFullName === null) {
            throw new \InvalidArgumentException('Missing the required parameter $cardHolderFullName when calling billingInfoUpdate');
        }
        // verify the required parameter 'cardNumber' is set
        if ($cardNumber === null) {
            throw new \InvalidArgumentException('Missing the required parameter $cardNumber when calling billingInfoUpdate');
        }
        // verify the required parameter 'cardExpiry' is set
        if ($cardExpiry === null) {
            throw new \InvalidArgumentException('Missing the required parameter $cardExpiry when calling billingInfoUpdate');
        }
        // parse inputs
        $resourcePath = "/customers/{customerId}/billing-info/{billingInfoId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/x-www-form-urlencoded']);

        // path params
        if ($customerId !== null) {
            $resourcePath = str_replace(
                "{" . "customerId" . "}",
                $this->apiClient->getSerializer()->toPathValue($customerId),
                $resourcePath
            );
        }
        // path params
        if ($billingInfoId !== null) {
            $resourcePath = str_replace(
                "{" . "billingInfoId" . "}",
                $this->apiClient->getSerializer()->toPathValue($billingInfoId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // form params
        if ($cardHolderFullName !== null) {
            $formParams['cardHolderFullName'] = $this->apiClient->getSerializer()->toFormValue($cardHolderFullName);
        }
        // form params
        if ($cardNumber !== null) {
            $formParams['cardNumber'] = $this->apiClient->getSerializer()->toFormValue($cardNumber);
        }
        // form params
        if ($cardExpiry !== null) {
            $formParams['cardExpiry'] = $this->apiClient->getSerializer()->toFormValue($cardExpiry);
        }
        // form params
        if ($cardCCV !== null) {
            $formParams['cardCCV'] = $this->apiClient->getSerializer()->toFormValue($cardCCV);
        }
        // form params
        if ($selectedGateway !== null) {
            $formParams['selectedGateway'] = $this->apiClient->getSerializer()->toFormValue($selectedGateway);
        }
        // form params
        if ($postalCode !== null) {
            $formParams['postalCode'] = $this->apiClient->getSerializer()->toFormValue($postalCode);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\InlineResponse200',
                '/customers/{customerId}/billing-info/{billingInfoId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\InlineResponse200', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InlineResponse200', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation customersCustomerIdAddressTransactionIdPut
     *
     * 
     *
     * @param string $customerId Customer id (required)
     * @param int $transactionId transaction id (required)
     * @param string $name Customer&#39;s name (optional)
     * @param string $address Customer&#39;s address (optional)
     * @param string $countryCode Country code (optional)
     * @param string $city City (optional)
     * @param string $postalCode Postal code (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\CustomerAddress
     */
    public function customersCustomerIdAddressTransactionIdPut($customerId, $transactionId, $name = null, $address = null, $countryCode = null, $city = null, $postalCode = null)
    {
        list($response) = $this->customersCustomerIdAddressTransactionIdPutWithHttpInfo($customerId, $transactionId, $name, $address, $countryCode, $city, $postalCode);
        return $response;
    }

    /**
     * Operation customersCustomerIdAddressTransactionIdPutWithHttpInfo
     *
     * 
     *
     * @param string $customerId Customer id (required)
     * @param int $transactionId transaction id (required)
     * @param string $name Customer&#39;s name (optional)
     * @param string $address Customer&#39;s address (optional)
     * @param string $countryCode Country code (optional)
     * @param string $city City (optional)
     * @param string $postalCode Postal code (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\CustomerAddress, HTTP status code, HTTP response headers (array of strings)
     */
    public function customersCustomerIdAddressTransactionIdPutWithHttpInfo($customerId, $transactionId, $name = null, $address = null, $countryCode = null, $city = null, $postalCode = null)
    {
        // verify the required parameter 'customerId' is set
        if ($customerId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $customerId when calling customersCustomerIdAddressTransactionIdPut');
        }
        // verify the required parameter 'transactionId' is set
        if ($transactionId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $transactionId when calling customersCustomerIdAddressTransactionIdPut');
        }
        // parse inputs
        $resourcePath = "/customers/{customerId}/address/{transactionId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/x-www-form-urlencoded']);

        // path params
        if ($customerId !== null) {
            $resourcePath = str_replace(
                "{" . "customerId" . "}",
                $this->apiClient->getSerializer()->toPathValue($customerId),
                $resourcePath
            );
        }
        // path params
        if ($transactionId !== null) {
            $resourcePath = str_replace(
                "{" . "transactionId" . "}",
                $this->apiClient->getSerializer()->toPathValue($transactionId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // form params
        if ($name !== null) {
            $formParams['name'] = $this->apiClient->getSerializer()->toFormValue($name);
        }
        // form params
        if ($address !== null) {
            $formParams['address'] = $this->apiClient->getSerializer()->toFormValue($address);
        }
        // form params
        if ($countryCode !== null) {
            $formParams['countryCode'] = $this->apiClient->getSerializer()->toFormValue($countryCode);
        }
        // form params
        if ($city !== null) {
            $formParams['city'] = $this->apiClient->getSerializer()->toFormValue($city);
        }
        // form params
        if ($postalCode !== null) {
            $formParams['postalCode'] = $this->apiClient->getSerializer()->toFormValue($postalCode);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CustomerAddress',
                '/customers/{customerId}/address/{transactionId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CustomerAddress', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CustomerAddress', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation customersCustomerIdGet
     *
     * 
     *
     * @param string $customerId Customer id (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Customer
     */
    public function customersCustomerIdGet($customerId)
    {
        list($response) = $this->customersCustomerIdGetWithHttpInfo($customerId);
        return $response;
    }

    /**
     * Operation customersCustomerIdGetWithHttpInfo
     *
     * 
     *
     * @param string $customerId Customer id (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Customer, HTTP status code, HTTP response headers (array of strings)
     */
    public function customersCustomerIdGetWithHttpInfo($customerId)
    {
        // verify the required parameter 'customerId' is set
        if ($customerId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $customerId when calling customersCustomerIdGet');
        }
        // parse inputs
        $resourcePath = "/customers/{customerId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($customerId !== null) {
            $resourcePath = str_replace(
                "{" . "customerId" . "}",
                $this->apiClient->getSerializer()->toPathValue($customerId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Customer',
                '/customers/{customerId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Customer', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Customer', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation customersCustomerUserIdOffersGet
     *
     * 
     *
     * @param string $customerUserId Customer user id (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\CustomerOffer[]
     */
    public function customersCustomerUserIdOffersGet($customerUserId)
    {
        list($response) = $this->customersCustomerUserIdOffersGetWithHttpInfo($customerUserId);
        return $response;
    }

    /**
     * Operation customersCustomerUserIdOffersGetWithHttpInfo
     *
     * 
     *
     * @param string $customerUserId Customer user id (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\CustomerOffer[], HTTP status code, HTTP response headers (array of strings)
     */
    public function customersCustomerUserIdOffersGetWithHttpInfo($customerUserId)
    {
        // verify the required parameter 'customerUserId' is set
        if ($customerUserId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $customerUserId when calling customersCustomerUserIdOffersGet');
        }
        // parse inputs
        $resourcePath = "/customers/{customerUserId}/offers";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($customerUserId !== null) {
            $resourcePath = str_replace(
                "{" . "customerUserId" . "}",
                $this->apiClient->getSerializer()->toPathValue($customerUserId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CustomerOffer[]',
                '/customers/{customerUserId}/offers'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CustomerOffer[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CustomerOffer[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation customersCustomerUserIdTransactionsGet
     *
     * 
     *
     * @param string $customerUserId Customer user id (required)
     * @param float $accountId Merchant account id (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Transaction[]
     */
    public function customersCustomerUserIdTransactionsGet($customerUserId, $accountId = null)
    {
        list($response) = $this->customersCustomerUserIdTransactionsGetWithHttpInfo($customerUserId, $accountId);
        return $response;
    }

    /**
     * Operation customersCustomerUserIdTransactionsGetWithHttpInfo
     *
     * 
     *
     * @param string $customerUserId Customer user id (required)
     * @param float $accountId Merchant account id (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Transaction[], HTTP status code, HTTP response headers (array of strings)
     */
    public function customersCustomerUserIdTransactionsGetWithHttpInfo($customerUserId, $accountId = null)
    {
        // verify the required parameter 'customerUserId' is set
        if ($customerUserId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $customerUserId when calling customersCustomerUserIdTransactionsGet');
        }
        // parse inputs
        $resourcePath = "/customers/{customerUserId}/transactions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($accountId !== null) {
            $queryParams['accountId'] = $this->apiClient->getSerializer()->toQueryValue($accountId);
        }
        // path params
        if ($customerUserId !== null) {
            $resourcePath = str_replace(
                "{" . "customerUserId" . "}",
                $this->apiClient->getSerializer()->toPathValue($customerUserId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Transaction[]',
                '/customers/{customerUserId}/transactions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Transaction[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Transaction[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation customersGet
     *
     * 
     *
     * @param string $email Customer&#39;s Email (optional)
     * @param string $name Customer&#39;s Name (optional)
     * @param string $postCode Customer&#39;s Post code (optional)
     * @param string $phone Customer&#39;s phone (optional)
     * @param int $page Page number (optional, default to 1)
     * @param string $sort Multiple sorting indicators separated by comma (optional, default to -created,email)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Customer[]
     */
    public function customersGet($email = null, $name = null, $postCode = null, $phone = null, $page = null, $sort = null)
    {
        list($response) = $this->customersGetWithHttpInfo($email, $name, $postCode, $phone, $page, $sort);
        return $response;
    }

    /**
     * Operation customersGetWithHttpInfo
     *
     * 
     *
     * @param string $email Customer&#39;s Email (optional)
     * @param string $name Customer&#39;s Name (optional)
     * @param string $postCode Customer&#39;s Post code (optional)
     * @param string $phone Customer&#39;s phone (optional)
     * @param int $page Page number (optional, default to 1)
     * @param string $sort Multiple sorting indicators separated by comma (optional, default to -created,email)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Customer[], HTTP status code, HTTP response headers (array of strings)
     */
    public function customersGetWithHttpInfo($email = null, $name = null, $postCode = null, $phone = null, $page = null, $sort = null)
    {
        // parse inputs
        $resourcePath = "/customers";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($email !== null) {
            $queryParams['email'] = $this->apiClient->getSerializer()->toQueryValue($email);
        }
        // query params
        if ($name !== null) {
            $queryParams['name'] = $this->apiClient->getSerializer()->toQueryValue($name);
        }
        // query params
        if ($postCode !== null) {
            $queryParams['post_code'] = $this->apiClient->getSerializer()->toQueryValue($postCode);
        }
        // query params
        if ($phone !== null) {
            $queryParams['phone'] = $this->apiClient->getSerializer()->toQueryValue($phone);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($sort !== null) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($sort);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Customer[]',
                '/customers'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Customer[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Customer[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
