<?php
/**
 * ReportsConversionsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * RevenueWire JackFruit REST API (Alpha)
 *
 * This API *does not* represent the final product. Some of the APIs listed below are *highly experimental* and *will likely change* before the final release. They may come with *crashes and bugs* and may potentially cause *data loss*.
 *
 * OpenAPI spec version: v1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Jackfruit;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * ReportsConversionsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ReportsConversionsApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return ReportsConversionsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation reportsConversionsDaily
     *
     * 
     *
     * @param string $startDate Start date (YYYY-MM-DD) (required)
     * @param string $endDate End date (YYYY-MM-DD) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ConversionsDailyOrHourlyDatas
     */
    public function reportsConversionsDaily($startDate, $endDate)
    {
        list($response) = $this->reportsConversionsDailyWithHttpInfo($startDate, $endDate);
        return $response;
    }

    /**
     * Operation reportsConversionsDailyWithHttpInfo
     *
     * 
     *
     * @param string $startDate Start date (YYYY-MM-DD) (required)
     * @param string $endDate End date (YYYY-MM-DD) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ConversionsDailyOrHourlyDatas, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportsConversionsDailyWithHttpInfo($startDate, $endDate)
    {
        // verify the required parameter 'startDate' is set
        if ($startDate === null) {
            throw new \InvalidArgumentException('Missing the required parameter $startDate when calling reportsConversionsDaily');
        }
        // verify the required parameter 'endDate' is set
        if ($endDate === null) {
            throw new \InvalidArgumentException('Missing the required parameter $endDate when calling reportsConversionsDaily');
        }
        // parse inputs
        $resourcePath = "/reports/conversions/daily";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($startDate !== null) {
            $queryParams['startDate'] = $this->apiClient->getSerializer()->toQueryValue($startDate);
        }
        // query params
        if ($endDate !== null) {
            $queryParams['endDate'] = $this->apiClient->getSerializer()->toQueryValue($endDate);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ConversionsDailyOrHourlyDatas',
                '/reports/conversions/daily'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ConversionsDailyOrHourlyDatas', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ConversionsDailyOrHourlyDatas', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation reportsConversionsHourly
     *
     * 
     *
     * @param string $startDate Start date (YYYY-MM-DD) (required)
     * @param string $endDate End date (YYYY-MM-DD) (required)
     * @param string $startHour Start hour (HH) (required)
     * @param string $endHour End hour (HH) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ConversionsDailyOrHourlyDatas
     */
    public function reportsConversionsHourly($startDate, $endDate, $startHour, $endHour)
    {
        list($response) = $this->reportsConversionsHourlyWithHttpInfo($startDate, $endDate, $startHour, $endHour);
        return $response;
    }

    /**
     * Operation reportsConversionsHourlyWithHttpInfo
     *
     * 
     *
     * @param string $startDate Start date (YYYY-MM-DD) (required)
     * @param string $endDate End date (YYYY-MM-DD) (required)
     * @param string $startHour Start hour (HH) (required)
     * @param string $endHour End hour (HH) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ConversionsDailyOrHourlyDatas, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportsConversionsHourlyWithHttpInfo($startDate, $endDate, $startHour, $endHour)
    {
        // verify the required parameter 'startDate' is set
        if ($startDate === null) {
            throw new \InvalidArgumentException('Missing the required parameter $startDate when calling reportsConversionsHourly');
        }
        // verify the required parameter 'endDate' is set
        if ($endDate === null) {
            throw new \InvalidArgumentException('Missing the required parameter $endDate when calling reportsConversionsHourly');
        }
        // verify the required parameter 'startHour' is set
        if ($startHour === null) {
            throw new \InvalidArgumentException('Missing the required parameter $startHour when calling reportsConversionsHourly');
        }
        // verify the required parameter 'endHour' is set
        if ($endHour === null) {
            throw new \InvalidArgumentException('Missing the required parameter $endHour when calling reportsConversionsHourly');
        }
        // parse inputs
        $resourcePath = "/reports/conversions/hourly";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($startDate !== null) {
            $queryParams['startDate'] = $this->apiClient->getSerializer()->toQueryValue($startDate);
        }
        // query params
        if ($endDate !== null) {
            $queryParams['endDate'] = $this->apiClient->getSerializer()->toQueryValue($endDate);
        }
        // query params
        if ($startHour !== null) {
            $queryParams['startHour'] = $this->apiClient->getSerializer()->toQueryValue($startHour);
        }
        // query params
        if ($endHour !== null) {
            $queryParams['endHour'] = $this->apiClient->getSerializer()->toQueryValue($endHour);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ConversionsDailyOrHourlyDatas',
                '/reports/conversions/hourly'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ConversionsDailyOrHourlyDatas', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ConversionsDailyOrHourlyDatas', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation reportsConversionsHourly_0
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ConversionsRegisterTotalsDatas
     */
    public function reportsConversionsHourly_0($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        list($response) = $this->reportsConversionsHourly_0WithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination);
        return $response;
    }

    /**
     * Operation reportsConversionsHourly_0WithHttpInfo
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ConversionsRegisterTotalsDatas, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportsConversionsHourly_0WithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        // verify the required parameter 'offers' is set
        if ($offers === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offers when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'aliases' is set
        if ($aliases === null) {
            throw new \InvalidArgumentException('Missing the required parameter $aliases when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'geos' is set
        if ($geos === null) {
            throw new \InvalidArgumentException('Missing the required parameter $geos when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'zones' is set
        if ($zones === null) {
            throw new \InvalidArgumentException('Missing the required parameter $zones when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'os' is set
        if ($os === null) {
            throw new \InvalidArgumentException('Missing the required parameter $os when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'transactionTypes' is set
        if ($transactionTypes === null) {
            throw new \InvalidArgumentException('Missing the required parameter $transactionTypes when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'subIds' is set
        if ($subIds === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subIds when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'range' is set
        if ($range === null) {
            throw new \InvalidArgumentException('Missing the required parameter $range when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'start' is set
        if ($start === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'end' is set
        if ($end === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'graphScale' is set
        if ($graphScale === null) {
            throw new \InvalidArgumentException('Missing the required parameter $graphScale when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'sort' is set
        if ($sort === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sort when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'searchText' is set
        if ($searchText === null) {
            throw new \InvalidArgumentException('Missing the required parameter $searchText when calling reportsConversionsHourly_0');
        }
        // verify the required parameter 'pagination' is set
        if ($pagination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pagination when calling reportsConversionsHourly_0');
        }
        // parse inputs
        $resourcePath = "/reports/conversions/register/totals";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (is_array($offers)) {
            $offers = $this->apiClient->getSerializer()->serializeCollection($offers, 'csv', true);
        }
        if ($offers !== null) {
            $queryParams['offers'] = $this->apiClient->getSerializer()->toQueryValue($offers);
        }
        // query params
        if (is_array($aliases)) {
            $aliases = $this->apiClient->getSerializer()->serializeCollection($aliases, 'csv', true);
        }
        if ($aliases !== null) {
            $queryParams['aliases'] = $this->apiClient->getSerializer()->toQueryValue($aliases);
        }
        // query params
        if (is_array($geos)) {
            $geos = $this->apiClient->getSerializer()->serializeCollection($geos, 'csv', true);
        }
        if ($geos !== null) {
            $queryParams['geos'] = $this->apiClient->getSerializer()->toQueryValue($geos);
        }
        // query params
        if (is_array($zones)) {
            $zones = $this->apiClient->getSerializer()->serializeCollection($zones, 'csv', true);
        }
        if ($zones !== null) {
            $queryParams['zones'] = $this->apiClient->getSerializer()->toQueryValue($zones);
        }
        // query params
        if (is_array($os)) {
            $os = $this->apiClient->getSerializer()->serializeCollection($os, 'csv', true);
        }
        if ($os !== null) {
            $queryParams['os'] = $this->apiClient->getSerializer()->toQueryValue($os);
        }
        // query params
        if (is_array($transactionTypes)) {
            $transactionTypes = $this->apiClient->getSerializer()->serializeCollection($transactionTypes, 'csv', true);
        }
        if ($transactionTypes !== null) {
            $queryParams['transactionTypes'] = $this->apiClient->getSerializer()->toQueryValue($transactionTypes);
        }
        // query params
        if ($subIds !== null) {
            $queryParams['subIds'] = $this->apiClient->getSerializer()->toQueryValue($subIds);
        }
        // query params
        if ($range !== null) {
            $queryParams['range'] = $this->apiClient->getSerializer()->toQueryValue($range);
        }
        // query params
        if ($start !== null) {
            $queryParams['start'] = $this->apiClient->getSerializer()->toQueryValue($start);
        }
        // query params
        if ($end !== null) {
            $queryParams['end'] = $this->apiClient->getSerializer()->toQueryValue($end);
        }
        // query params
        if ($graphScale !== null) {
            $queryParams['graphScale'] = $this->apiClient->getSerializer()->toQueryValue($graphScale);
        }
        // query params
        if ($searchText !== null) {
            $queryParams['searchText'] = $this->apiClient->getSerializer()->toQueryValue($searchText);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($sort)) {
            $_tempBody = $sort;
        }
// body params
        $_tempBody = null;
        if (isset($pagination)) {
            $_tempBody = $pagination;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ConversionsRegisterTotalsDatas',
                '/reports/conversions/register/totals'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ConversionsRegisterTotalsDatas', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ConversionsRegisterTotalsDatas', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation reportsConversionsRegister
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ConversionsRegisterDatas
     */
    public function reportsConversionsRegister($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        list($response) = $this->reportsConversionsRegisterWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination);
        return $response;
    }

    /**
     * Operation reportsConversionsRegisterWithHttpInfo
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ConversionsRegisterDatas, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportsConversionsRegisterWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        // verify the required parameter 'offers' is set
        if ($offers === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offers when calling reportsConversionsRegister');
        }
        // verify the required parameter 'aliases' is set
        if ($aliases === null) {
            throw new \InvalidArgumentException('Missing the required parameter $aliases when calling reportsConversionsRegister');
        }
        // verify the required parameter 'geos' is set
        if ($geos === null) {
            throw new \InvalidArgumentException('Missing the required parameter $geos when calling reportsConversionsRegister');
        }
        // verify the required parameter 'zones' is set
        if ($zones === null) {
            throw new \InvalidArgumentException('Missing the required parameter $zones when calling reportsConversionsRegister');
        }
        // verify the required parameter 'os' is set
        if ($os === null) {
            throw new \InvalidArgumentException('Missing the required parameter $os when calling reportsConversionsRegister');
        }
        // verify the required parameter 'transactionTypes' is set
        if ($transactionTypes === null) {
            throw new \InvalidArgumentException('Missing the required parameter $transactionTypes when calling reportsConversionsRegister');
        }
        // verify the required parameter 'subIds' is set
        if ($subIds === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subIds when calling reportsConversionsRegister');
        }
        // verify the required parameter 'range' is set
        if ($range === null) {
            throw new \InvalidArgumentException('Missing the required parameter $range when calling reportsConversionsRegister');
        }
        // verify the required parameter 'start' is set
        if ($start === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start when calling reportsConversionsRegister');
        }
        // verify the required parameter 'end' is set
        if ($end === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end when calling reportsConversionsRegister');
        }
        // verify the required parameter 'graphScale' is set
        if ($graphScale === null) {
            throw new \InvalidArgumentException('Missing the required parameter $graphScale when calling reportsConversionsRegister');
        }
        // verify the required parameter 'sort' is set
        if ($sort === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sort when calling reportsConversionsRegister');
        }
        // verify the required parameter 'searchText' is set
        if ($searchText === null) {
            throw new \InvalidArgumentException('Missing the required parameter $searchText when calling reportsConversionsRegister');
        }
        // verify the required parameter 'pagination' is set
        if ($pagination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pagination when calling reportsConversionsRegister');
        }
        // parse inputs
        $resourcePath = "/reports/conversions/register";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (is_array($offers)) {
            $offers = $this->apiClient->getSerializer()->serializeCollection($offers, 'csv', true);
        }
        if ($offers !== null) {
            $queryParams['offers'] = $this->apiClient->getSerializer()->toQueryValue($offers);
        }
        // query params
        if (is_array($aliases)) {
            $aliases = $this->apiClient->getSerializer()->serializeCollection($aliases, 'csv', true);
        }
        if ($aliases !== null) {
            $queryParams['aliases'] = $this->apiClient->getSerializer()->toQueryValue($aliases);
        }
        // query params
        if (is_array($geos)) {
            $geos = $this->apiClient->getSerializer()->serializeCollection($geos, 'csv', true);
        }
        if ($geos !== null) {
            $queryParams['geos'] = $this->apiClient->getSerializer()->toQueryValue($geos);
        }
        // query params
        if (is_array($zones)) {
            $zones = $this->apiClient->getSerializer()->serializeCollection($zones, 'csv', true);
        }
        if ($zones !== null) {
            $queryParams['zones'] = $this->apiClient->getSerializer()->toQueryValue($zones);
        }
        // query params
        if (is_array($os)) {
            $os = $this->apiClient->getSerializer()->serializeCollection($os, 'csv', true);
        }
        if ($os !== null) {
            $queryParams['os'] = $this->apiClient->getSerializer()->toQueryValue($os);
        }
        // query params
        if (is_array($transactionTypes)) {
            $transactionTypes = $this->apiClient->getSerializer()->serializeCollection($transactionTypes, 'csv', true);
        }
        if ($transactionTypes !== null) {
            $queryParams['transactionTypes'] = $this->apiClient->getSerializer()->toQueryValue($transactionTypes);
        }
        // query params
        if ($subIds !== null) {
            $queryParams['subIds'] = $this->apiClient->getSerializer()->toQueryValue($subIds);
        }
        // query params
        if ($range !== null) {
            $queryParams['range'] = $this->apiClient->getSerializer()->toQueryValue($range);
        }
        // query params
        if ($start !== null) {
            $queryParams['start'] = $this->apiClient->getSerializer()->toQueryValue($start);
        }
        // query params
        if ($end !== null) {
            $queryParams['end'] = $this->apiClient->getSerializer()->toQueryValue($end);
        }
        // query params
        if ($graphScale !== null) {
            $queryParams['graphScale'] = $this->apiClient->getSerializer()->toQueryValue($graphScale);
        }
        // query params
        if ($searchText !== null) {
            $queryParams['searchText'] = $this->apiClient->getSerializer()->toQueryValue($searchText);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($sort)) {
            $_tempBody = $sort;
        }
// body params
        $_tempBody = null;
        if (isset($pagination)) {
            $_tempBody = $pagination;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ConversionsRegisterDatas',
                '/reports/conversions/register'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ConversionsRegisterDatas', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ConversionsRegisterDatas', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation reportsConversionsRegisterCount
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\CountData
     */
    public function reportsConversionsRegisterCount($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        list($response) = $this->reportsConversionsRegisterCountWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination);
        return $response;
    }

    /**
     * Operation reportsConversionsRegisterCountWithHttpInfo
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\CountData, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportsConversionsRegisterCountWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        // verify the required parameter 'offers' is set
        if ($offers === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offers when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'aliases' is set
        if ($aliases === null) {
            throw new \InvalidArgumentException('Missing the required parameter $aliases when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'geos' is set
        if ($geos === null) {
            throw new \InvalidArgumentException('Missing the required parameter $geos when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'zones' is set
        if ($zones === null) {
            throw new \InvalidArgumentException('Missing the required parameter $zones when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'os' is set
        if ($os === null) {
            throw new \InvalidArgumentException('Missing the required parameter $os when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'transactionTypes' is set
        if ($transactionTypes === null) {
            throw new \InvalidArgumentException('Missing the required parameter $transactionTypes when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'subIds' is set
        if ($subIds === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subIds when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'range' is set
        if ($range === null) {
            throw new \InvalidArgumentException('Missing the required parameter $range when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'start' is set
        if ($start === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'end' is set
        if ($end === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'graphScale' is set
        if ($graphScale === null) {
            throw new \InvalidArgumentException('Missing the required parameter $graphScale when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'sort' is set
        if ($sort === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sort when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'searchText' is set
        if ($searchText === null) {
            throw new \InvalidArgumentException('Missing the required parameter $searchText when calling reportsConversionsRegisterCount');
        }
        // verify the required parameter 'pagination' is set
        if ($pagination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pagination when calling reportsConversionsRegisterCount');
        }
        // parse inputs
        $resourcePath = "/reports/conversions/register/count";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (is_array($offers)) {
            $offers = $this->apiClient->getSerializer()->serializeCollection($offers, 'csv', true);
        }
        if ($offers !== null) {
            $queryParams['offers'] = $this->apiClient->getSerializer()->toQueryValue($offers);
        }
        // query params
        if (is_array($aliases)) {
            $aliases = $this->apiClient->getSerializer()->serializeCollection($aliases, 'csv', true);
        }
        if ($aliases !== null) {
            $queryParams['aliases'] = $this->apiClient->getSerializer()->toQueryValue($aliases);
        }
        // query params
        if (is_array($geos)) {
            $geos = $this->apiClient->getSerializer()->serializeCollection($geos, 'csv', true);
        }
        if ($geos !== null) {
            $queryParams['geos'] = $this->apiClient->getSerializer()->toQueryValue($geos);
        }
        // query params
        if (is_array($zones)) {
            $zones = $this->apiClient->getSerializer()->serializeCollection($zones, 'csv', true);
        }
        if ($zones !== null) {
            $queryParams['zones'] = $this->apiClient->getSerializer()->toQueryValue($zones);
        }
        // query params
        if (is_array($os)) {
            $os = $this->apiClient->getSerializer()->serializeCollection($os, 'csv', true);
        }
        if ($os !== null) {
            $queryParams['os'] = $this->apiClient->getSerializer()->toQueryValue($os);
        }
        // query params
        if (is_array($transactionTypes)) {
            $transactionTypes = $this->apiClient->getSerializer()->serializeCollection($transactionTypes, 'csv', true);
        }
        if ($transactionTypes !== null) {
            $queryParams['transactionTypes'] = $this->apiClient->getSerializer()->toQueryValue($transactionTypes);
        }
        // query params
        if ($subIds !== null) {
            $queryParams['subIds'] = $this->apiClient->getSerializer()->toQueryValue($subIds);
        }
        // query params
        if ($range !== null) {
            $queryParams['range'] = $this->apiClient->getSerializer()->toQueryValue($range);
        }
        // query params
        if ($start !== null) {
            $queryParams['start'] = $this->apiClient->getSerializer()->toQueryValue($start);
        }
        // query params
        if ($end !== null) {
            $queryParams['end'] = $this->apiClient->getSerializer()->toQueryValue($end);
        }
        // query params
        if ($graphScale !== null) {
            $queryParams['graphScale'] = $this->apiClient->getSerializer()->toQueryValue($graphScale);
        }
        // query params
        if ($searchText !== null) {
            $queryParams['searchText'] = $this->apiClient->getSerializer()->toQueryValue($searchText);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($sort)) {
            $_tempBody = $sort;
        }
// body params
        $_tempBody = null;
        if (isset($pagination)) {
            $_tempBody = $pagination;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CountData',
                '/reports/conversions/register/count'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CountData', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CountData', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation reportsConversionsRegisterExport
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ExportData
     */
    public function reportsConversionsRegisterExport($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        list($response) = $this->reportsConversionsRegisterExportWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination);
        return $response;
    }

    /**
     * Operation reportsConversionsRegisterExportWithHttpInfo
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ExportData, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportsConversionsRegisterExportWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        // verify the required parameter 'offers' is set
        if ($offers === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offers when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'aliases' is set
        if ($aliases === null) {
            throw new \InvalidArgumentException('Missing the required parameter $aliases when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'geos' is set
        if ($geos === null) {
            throw new \InvalidArgumentException('Missing the required parameter $geos when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'zones' is set
        if ($zones === null) {
            throw new \InvalidArgumentException('Missing the required parameter $zones when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'os' is set
        if ($os === null) {
            throw new \InvalidArgumentException('Missing the required parameter $os when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'transactionTypes' is set
        if ($transactionTypes === null) {
            throw new \InvalidArgumentException('Missing the required parameter $transactionTypes when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'subIds' is set
        if ($subIds === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subIds when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'range' is set
        if ($range === null) {
            throw new \InvalidArgumentException('Missing the required parameter $range when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'start' is set
        if ($start === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'end' is set
        if ($end === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'graphScale' is set
        if ($graphScale === null) {
            throw new \InvalidArgumentException('Missing the required parameter $graphScale when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'sort' is set
        if ($sort === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sort when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'searchText' is set
        if ($searchText === null) {
            throw new \InvalidArgumentException('Missing the required parameter $searchText when calling reportsConversionsRegisterExport');
        }
        // verify the required parameter 'pagination' is set
        if ($pagination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pagination when calling reportsConversionsRegisterExport');
        }
        // parse inputs
        $resourcePath = "/reports/conversions/register/export";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (is_array($offers)) {
            $offers = $this->apiClient->getSerializer()->serializeCollection($offers, 'csv', true);
        }
        if ($offers !== null) {
            $queryParams['offers'] = $this->apiClient->getSerializer()->toQueryValue($offers);
        }
        // query params
        if (is_array($aliases)) {
            $aliases = $this->apiClient->getSerializer()->serializeCollection($aliases, 'csv', true);
        }
        if ($aliases !== null) {
            $queryParams['aliases'] = $this->apiClient->getSerializer()->toQueryValue($aliases);
        }
        // query params
        if (is_array($geos)) {
            $geos = $this->apiClient->getSerializer()->serializeCollection($geos, 'csv', true);
        }
        if ($geos !== null) {
            $queryParams['geos'] = $this->apiClient->getSerializer()->toQueryValue($geos);
        }
        // query params
        if (is_array($zones)) {
            $zones = $this->apiClient->getSerializer()->serializeCollection($zones, 'csv', true);
        }
        if ($zones !== null) {
            $queryParams['zones'] = $this->apiClient->getSerializer()->toQueryValue($zones);
        }
        // query params
        if (is_array($os)) {
            $os = $this->apiClient->getSerializer()->serializeCollection($os, 'csv', true);
        }
        if ($os !== null) {
            $queryParams['os'] = $this->apiClient->getSerializer()->toQueryValue($os);
        }
        // query params
        if (is_array($transactionTypes)) {
            $transactionTypes = $this->apiClient->getSerializer()->serializeCollection($transactionTypes, 'csv', true);
        }
        if ($transactionTypes !== null) {
            $queryParams['transactionTypes'] = $this->apiClient->getSerializer()->toQueryValue($transactionTypes);
        }
        // query params
        if ($subIds !== null) {
            $queryParams['subIds'] = $this->apiClient->getSerializer()->toQueryValue($subIds);
        }
        // query params
        if ($range !== null) {
            $queryParams['range'] = $this->apiClient->getSerializer()->toQueryValue($range);
        }
        // query params
        if ($start !== null) {
            $queryParams['start'] = $this->apiClient->getSerializer()->toQueryValue($start);
        }
        // query params
        if ($end !== null) {
            $queryParams['end'] = $this->apiClient->getSerializer()->toQueryValue($end);
        }
        // query params
        if ($graphScale !== null) {
            $queryParams['graphScale'] = $this->apiClient->getSerializer()->toQueryValue($graphScale);
        }
        // query params
        if ($searchText !== null) {
            $queryParams['searchText'] = $this->apiClient->getSerializer()->toQueryValue($searchText);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($sort)) {
            $_tempBody = $sort;
        }
// body params
        $_tempBody = null;
        if (isset($pagination)) {
            $_tempBody = $pagination;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ExportData',
                '/reports/conversions/register/export'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ExportData', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ExportData', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation reportsConversionsRegisterGraph
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ConversionsRegisterGraphDatas
     */
    public function reportsConversionsRegisterGraph($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        list($response) = $this->reportsConversionsRegisterGraphWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination);
        return $response;
    }

    /**
     * Operation reportsConversionsRegisterGraphWithHttpInfo
     *
     * 
     *
     * @param string[] $offers A JSON encoded array of offer IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $aliases A JSON encoded array of alias IDs (eg [\&quot;1\&quot;,\&quot;2\&quot;]) (required)
     * @param string[] $geos A JSON encoded array of country (US and CA may also include region) IDs (eg [\&quot;CA\&quot;,\&quot;US-WA\&quot;]) (required)
     * @param string[] $zones A JSON encoded array of continent names (eg [\&quot;North America\&quot;, \&quot;Asia\&quot;]) (required)
     * @param string[] $os A JSON encoded array of os names (eg [\&quot;Linux\&quot;, \&quot;Mac OSX\&quot;]) (required)
     * @param string[] $transactionTypes Revshare and CPA transaction types (required)
     * @param string $subIds A JSON encoded array of sub IDs (eg [\&quot;this is my sub ID\&quot;, \&quot;this is an alternate sub ID\&quot;]) (required)
     * @param string $range The english name for the period being searched, encoded in camel case (eg. lastMonth or customRange) (required)
     * @param string $start Start date (YYYY-MM-DD) (required)
     * @param string $end End date (YYYY-MM-DD) (required)
     * @param string $graphScale The x-axis scale to use for graph data for a geographical map (required)
     * @param \Swagger\Client\Model\Sort1 $sort A JSON encoded object with the column to sort on and the sort direction (eg. {\&quot;col\&quot;:\&quot;sales\&quot;,\&quot;dir\&quot;:\&quot;DESC\&quot;}) (required)
     * @param string $searchText The sub ID or order reference to search for (required)
     * @param \Swagger\Client\Model\Pagination $pagination A JSON encoded array with the columns to group data on (eg. [\&quot;period\&quot;,\&quot;alias\&quot;]) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ConversionsRegisterGraphDatas, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportsConversionsRegisterGraphWithHttpInfo($offers, $aliases, $geos, $zones, $os, $transactionTypes, $subIds, $range, $start, $end, $graphScale, $sort, $searchText, $pagination)
    {
        // verify the required parameter 'offers' is set
        if ($offers === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offers when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'aliases' is set
        if ($aliases === null) {
            throw new \InvalidArgumentException('Missing the required parameter $aliases when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'geos' is set
        if ($geos === null) {
            throw new \InvalidArgumentException('Missing the required parameter $geos when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'zones' is set
        if ($zones === null) {
            throw new \InvalidArgumentException('Missing the required parameter $zones when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'os' is set
        if ($os === null) {
            throw new \InvalidArgumentException('Missing the required parameter $os when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'transactionTypes' is set
        if ($transactionTypes === null) {
            throw new \InvalidArgumentException('Missing the required parameter $transactionTypes when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'subIds' is set
        if ($subIds === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subIds when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'range' is set
        if ($range === null) {
            throw new \InvalidArgumentException('Missing the required parameter $range when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'start' is set
        if ($start === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'end' is set
        if ($end === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'graphScale' is set
        if ($graphScale === null) {
            throw new \InvalidArgumentException('Missing the required parameter $graphScale when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'sort' is set
        if ($sort === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sort when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'searchText' is set
        if ($searchText === null) {
            throw new \InvalidArgumentException('Missing the required parameter $searchText when calling reportsConversionsRegisterGraph');
        }
        // verify the required parameter 'pagination' is set
        if ($pagination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pagination when calling reportsConversionsRegisterGraph');
        }
        // parse inputs
        $resourcePath = "/reports/conversions/register/graph";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (is_array($offers)) {
            $offers = $this->apiClient->getSerializer()->serializeCollection($offers, 'csv', true);
        }
        if ($offers !== null) {
            $queryParams['offers'] = $this->apiClient->getSerializer()->toQueryValue($offers);
        }
        // query params
        if (is_array($aliases)) {
            $aliases = $this->apiClient->getSerializer()->serializeCollection($aliases, 'csv', true);
        }
        if ($aliases !== null) {
            $queryParams['aliases'] = $this->apiClient->getSerializer()->toQueryValue($aliases);
        }
        // query params
        if (is_array($geos)) {
            $geos = $this->apiClient->getSerializer()->serializeCollection($geos, 'csv', true);
        }
        if ($geos !== null) {
            $queryParams['geos'] = $this->apiClient->getSerializer()->toQueryValue($geos);
        }
        // query params
        if (is_array($zones)) {
            $zones = $this->apiClient->getSerializer()->serializeCollection($zones, 'csv', true);
        }
        if ($zones !== null) {
            $queryParams['zones'] = $this->apiClient->getSerializer()->toQueryValue($zones);
        }
        // query params
        if (is_array($os)) {
            $os = $this->apiClient->getSerializer()->serializeCollection($os, 'csv', true);
        }
        if ($os !== null) {
            $queryParams['os'] = $this->apiClient->getSerializer()->toQueryValue($os);
        }
        // query params
        if (is_array($transactionTypes)) {
            $transactionTypes = $this->apiClient->getSerializer()->serializeCollection($transactionTypes, 'csv', true);
        }
        if ($transactionTypes !== null) {
            $queryParams['transactionTypes'] = $this->apiClient->getSerializer()->toQueryValue($transactionTypes);
        }
        // query params
        if ($subIds !== null) {
            $queryParams['subIds'] = $this->apiClient->getSerializer()->toQueryValue($subIds);
        }
        // query params
        if ($range !== null) {
            $queryParams['range'] = $this->apiClient->getSerializer()->toQueryValue($range);
        }
        // query params
        if ($start !== null) {
            $queryParams['start'] = $this->apiClient->getSerializer()->toQueryValue($start);
        }
        // query params
        if ($end !== null) {
            $queryParams['end'] = $this->apiClient->getSerializer()->toQueryValue($end);
        }
        // query params
        if ($graphScale !== null) {
            $queryParams['graphScale'] = $this->apiClient->getSerializer()->toQueryValue($graphScale);
        }
        // query params
        if ($searchText !== null) {
            $queryParams['searchText'] = $this->apiClient->getSerializer()->toQueryValue($searchText);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($sort)) {
            $_tempBody = $sort;
        }
// body params
        $_tempBody = null;
        if (isset($pagination)) {
            $_tempBody = $pagination;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization-JWT');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization-JWT'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ConversionsRegisterGraphDatas',
                '/reports/conversions/register/graph'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ConversionsRegisterGraphDatas', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ConversionsRegisterGraphDatas', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
